@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-btn {
    @apply bg-red-700 text-white border-none rounded-sm btn-sm;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.right-shadow {
  box-shadow: 0 10px 13px 2px rgb(0 20 0 / 50%);
}

/* custom card */
.custom-card:hover h1 {
  color: rgb(251, 255, 0);
}
.custom-card:hover h2 {
  color: #0573e6;
}
.custom-card:hover p {
  color: #000;
}
.custom-card:hover img {
  transform: scale(1.1);
}
.g-bg {
  background-image: linear-gradient(to bottom, transparent, black);
}
.g-bg:hover h1 {
  color: rgb(251, 255, 0);
}
.g-bg:hover h2 {
  color: #0573e6;
}
.g-bg:hover p {
  color: #000;
}
.g-bg:hover img {
  transform: scale(1.1);
}

/* custom border  */
.custom-border .custom-border-bottom {
  border-bottom: 1px solid rgb(209, 202, 202);
}
.custom-border .custom-border-bottom:last-child {
  border: none;
}
/* Loader animation  */

@keyframes ldio-9xko3emhid5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-9xko3emhid5 div {
  left: 135.315px;
  top: 69.84px;
  position: absolute;
  animation: ldio-9xko3emhid5 linear 1s infinite;
  background: #f51f4a;

  width: 20.37px;
  height: 34.92px;
  border-radius: 10.185px / 17.46px;
  transform-origin: 10.185px 75.66px;
}
.ldio-9xko3emhid5 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #f51f4a;
}
.ldio-9xko3emhid5 div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #f51f4a;
}
.ldio-9xko3emhid5 div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #f51f4a;
}
.ldio-9xko3emhid5 div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #f51f4a;
}
.ldio-9xko3emhid5 div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #f51f4a;
}
.ldio-9xko3emhid5 div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #f51f4a;
}
.ldio-9xko3emhid5 div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #f51f4a;
}
.ldio-9xko3emhid5 div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #f51f4a;
}
.ldio-9xko3emhid5 div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #f51f4a;
}
.ldio-9xko3emhid5 div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #f51f4a;
}
.ldio-9xko3emhid5 div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #f51f4a;
}
.ldio-9xko3emhid5 div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #f51f4a;
}
.loadingio-spinner-spinner-s1hiwuucq9q {
  width: 291px;
  height: 291px;
  display: inline-block;
  overflow: hidden;
}
.ldio-9xko3emhid5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-9xko3emhid5 div {
  box-sizing: content-box;
}
